
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'addstock.css' %}">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <form action=""method="POST">
            <h1 class="text-center">Add to stock Form</h1>
            <br>
            {% csrf_token %}
            {{ form| crispy }}
            <input type="submit" value="submit">
        </form>
    </div>
    {% endblock %}
</body>
</html>