
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sign.css' %}">
    <title>Document</title>
</head>
<body>
    {% if request.user.is_authenticated %}
    <div class="flex item-center space-x-4 px-6">
    
        {% else %}
        <a href=""><input type="button" value="Login"></a>

    </div>
    {% endif %}
    {% block content %}
    <form action=""method="POST">
        {% csrf_token %}
        {{ form | crispy}}
        <input type="submit" value="Register">
    </form>
    {% endblock %}
</body>
</html>