
table {
    width: 100%; /* Adjust as needed */
    border-collapse: collapse; /* Remove default spacing between cells */
    margin-left:1px; /* Center the table on the page */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }

  th, td {
    border: 1px solid #ddd; /* Light gray border for cells */
    padding: 8px;
    text-align: left; /* Align text to the left by default */
  }
 td{
    height:50px;
 }
  th {
    background-color: #f2f2f2; /* Light gray background for headers */
    font-weight: bold;
    
  }

  tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternating row color */
  }

  tr:hover {
    background-color: #e0e0e0; /* Hover effect */
  }

  .center-text {
    text-align: center;
  }
  input[type="submit"] {
    background-color: #135a79;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
}
input[type="submit"]:hover {
    background-color: #0056b3;}